*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root {
--page-padding: 1.2rem 10rem;
--gap: 1rem;
  --light-shades: #f3f3f4;
  --main-brand: #1693ac;
  --dark-accent: #333;
  --dark-shades: #232824;
  --padding: 1.2rem;
  --border-radius: 5px;
}

#root {
 
  position: relative;
  display: flex;
}

.background-animation {
background: linear-gradient(
  -45deg,
  var(--light-shades),
  var(--dark-shades),
  var(--dark-accent)
);
background-size: 400% 400%;
animation: gradient 4s ease infinite;
}

.btn{
  background-color: var(--dark-shades);
  color: var(--main-brand);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
width: fit-content;
}

.btn:hover{
  background-color: var(--main-brand);
  color: var(--light-shades);
}
.align-right{
  margin-left: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media screen and (max-width: 768px) {
  :root {
    --page-padding: 1rem 2rem;

  }
  .navbar-container {
    flex-direction: column;
    gap: var(--gap);
  }

  .menu {
    flex-direction: column;
    gap: var(--gap);
  }

  .aboutme-container {
    flex-direction: column;
    gap: var(--gap);
  }
  .contact-container {
    flex-direction: column;
  }
  

  @media screen and (max-width: 630px){
 .portfolio-grid{
   grid-template-columns: repeat(1, 1fr);
   margin-left: 25% !important;
 }
}
  @media screen and (max-width: 480px){
    .portfolio-grid{
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100% !important;
    margin-left: 15% !important;
    }
   body .portfolio-projects-frame{
      width: 100% !important;
      margin-left:5px;
    }
  }
  @media screen and (max-width: 390px){
    .portfolio-grid{
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100% !important;
    margin-left: 5% !important;
    }
   body .portfolio-projects-frame{
      width: 100% !important;
      margin-left:5px;
    }
  }
}

html {
  scroll-behavior: smooth;
}